.page {
    font-size: 1.2vw;
}

.page__content {
    display: flex;
    flex-direction: row;
    max-width: 80vw;
}

.content__header {
    max-height: 800px;
}

.content__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50vw;
    gap: 1em;
}